.app___footerOverlay{
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.app___footerOverlay-black{
    height: 25%;
    background: var(--color-black);
}

.app___footerOverlay-img{
    height: 75%;
}